@page "/admin"
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Identity
@using Plat_prog.Models

@inject UserManager<ApplicationUser> UserManager
@inject AppDbContext Db
@inject AuthenticationStateProvider AuthStateProvider

<h3>Panel Admina</h3>

@if (users == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var user in users)
    {
        <div>
            @user.Email
            <button @onclick="() => DeleteUser(user.Id)">
                Usuń użytkownika
            </button>
        </div>
    }
}

@code {
    List<ApplicationUser> users;

    protected override async Task OnInitializedAsync()
    {
        users = await Task.FromResult(UserManager.Users.ToList());
    }

    async Task DeleteUser(string id)
    {
        Console.WriteLine("CLICK DELETE USER");
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var currentUser = await UserManager.GetUserAsync(authState.User);

        if (currentUser.Id == id)
        {
            Console.WriteLine("Nie można usunąć samego siebie");
            return;
        }

        var user = await UserManager.FindByIdAsync(id);

        if (user != null)
        {
            // najpierw usuwanie komentarza
            var reviews = Db.Reviews.Where(r => r.UserId == id);
            Db.Reviews.RemoveRange(reviews);
            // usuwanie zapisanych filmów
            var movies = Db.Movies.Where(m => m.UserId == id);
            Db.Movies.RemoveRange(movies);

            await Db.SaveChangesAsync();

            var result = await UserManager.DeleteAsync(user);

            if (result.Succeeded)
            {
                users = UserManager.Users.ToList();
                StateHasChanged();
            }
            else
            {
                foreach (var error in result.Errors)
                {
                    Console.WriteLine("ERROR: " + error.Description);
                }
            }
        }
    }

}
