@page "/"
<h3>Movie App</h3>

<p>Witaj w aplikacji do wyszukiwania filmów.</p>

<p>
    Przejdź do:
</p>

<ul>
    <li><a href="/search">Search Movies</a></li>
    <AuthorizeView>
        <Authorized>
			<li><a href="/saved">Saved Movies</a></li>
        </Authorized>
    </AuthorizeView>
    
</ul>
