@page "/saved"
@rendermode InteractiveServer
@using Plat_prog.Models
@inject Plat_prog.Data.AppDbContext Db
@attribute [Authorize]
@**@

<h3>Saved Movies</h3>

@if (movies == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var movie in movies)
        {
            <li>
                @movie.Title (@movie.Year)
                <button @onclick="() => DeleteMovie(movie.Id)">
                    Delete
                </button>
                <a href="/movie/@movie.ImdbId">Szczegóły</a>
            </li>
        }
    </ul>
}
@inject AuthenticationStateProvider AuthStateProvider
@inject UserManager<ApplicationUser> UserManager

@code {
    List<Movie> movies;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);

        if (user == null)
        {
            movies = new List<Movie>();
            return;
        }

        movies = Db.Movies
            .Where(m => m.UserId == user.Id)
            .ToList();
    }

    async Task DeleteMovie(int id)
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);

        if (user == null)
            return;

        var movie = Db.Movies
            .FirstOrDefault(m => m.Id == id && m.UserId == user.Id);

        if (movie != null)
        {
            Db.Movies.Remove(movie);
            await Db.SaveChangesAsync();

            movies = movies.Where(m => m.Id != id).ToList();
        }
    }
}
