@page "/search"
@rendermode InteractiveServer
@using Plat_prog.Models
@inject Plat_prog.Services.MovieService MovieService
@inject Plat_prog.Data.AppDbContext Db
@inject AuthenticationStateProvider AuthStateProvider
@inject UserManager<ApplicationUser> UserManager
@attribute [AllowAnonymous]

<h3>Search Movies</h3>

<input @bind="query" placeholder="Enter movie title" />
<button @onclick="async () => await SearchMovies()">Search</button>
<p>@debugMessage</p>
<p style="color:green;">@saveMessage</p>

@if (movies != null)
{
    <ul>
        @foreach (var movie in movies)
        {
            <li>
                <b>@movie.Title</b> (@movie.Year)
                <AuthorizeView>
                    <Authorized>
                        @if (savedMovieIds.Contains(movie.ImdbId))
                        {
                            <span style="color:green;">
                                Film zapisany ✔
                            </span>
                        }
                        else
                        {
                            <button @onclick="() => SaveMovie(movie)">
                                Zapisz
                            </button>
                        }
                    </Authorized>

                    <NotAuthorized>
                        <span>Zaloguj się, aby zapisać</span>
                    </NotAuthorized>
                </AuthorizeView>
                <a href="/movie/@movie.ImdbId">Szczegóły</a>
            </li>
        }
    </ul>
}

@if (movies != null && movies.Count > 0)
{
    <button @onclick="LoadMoreMovies">
        Załaduj więcej
    </button>
}

@code {
    string query = "";
    List<Movie> movies = new();
    string debugMessage = "";
    string saveMessage = "";
    int currentPage = 1;
    HashSet<string> savedMovieIds = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadSavedMovies();
    }

    async Task LoadSavedMovies()
    {
        var authState =
            await AuthStateProvider.GetAuthenticationStateAsync();

        var user =
            await UserManager.GetUserAsync(authState.User);

        if (user == null)
            return;

        savedMovieIds = Db.Movies
            .Where(m => m.UserId == user.Id)
            .Select(m => m.ImdbId)
            .ToHashSet();
    }

    async Task LoadMoreMovies()
    {
        currentPage++;

        var moreMovies = await MovieService.SearchMovies(query, currentPage);

        movies.AddRange(moreMovies.Movies);
    }

    async Task SearchMovies()
    {
        saveMessage = "";
        currentPage = 1;
        debugMessage = "Searching...";
        var result = await MovieService.SearchMovies(query, currentPage);

        movies = result.Movies;

        debugMessage = $"Znaleziono: {result.TotalResults}";
    }

    async Task SaveMovie(Movie movie)
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);

        if (user == null)
            return;

        bool alreadySaved = Db.Movies
        .Any(m => m.ImdbId == movie.ImdbId && m.UserId == user.Id);

        if (alreadySaved)
        {
            saveMessage = "Film już zapisany";
            return;
        }
        var savedMovie = new Movie
        {
            Title = movie.Title,
            Year = movie.Year,
            ImdbId = movie.ImdbId,
            Poster = movie.Poster,
            UserId = user.Id
        };

        Db.Movies.Add(savedMovie);

        await Db.SaveChangesAsync();

        savedMovieIds.Add(movie.ImdbId);

        saveMessage = $"Zapisano film: {movie.Title}";
    }
}
