@page "/search"
@rendermode InteractiveServer
@using Plat_prog.Models
@inject Plat_prog.Services.MovieService MovieService
@inject Plat_prog.Data.AppDbContext Db
@attribute [AllowAnonymous]

<h3>Search Movies</h3>

<input @bind="query" placeholder="Enter movie title" />
<button @onclick="async () => await SearchMovies()">Search</button>
<p>@debugMessage</p>

@if (movies != null)
{
    <ul>
        @foreach (var movie in movies)
        {
            <li>
                <b>@movie.Title</b> (@movie.Year)
                <AuthorizeView>
                    <Authorized>
                        <button @onclick="() => SaveMovie(movie)">Zapisz</button>
                    </Authorized>

                    <NotAuthorized>
                        <span>Zaloguj się, aby zapisać</span>
                    </NotAuthorized>
                </AuthorizeView>
                <a href="/movie/@movie.ImdbId">Szczegóły</a>
            </li>
        }
    </ul>
}

@code {
    string query;
    List<Movie> movies;
    string debugMessage = "";

    async Task SearchMovies()
    {
        debugMessage = "Searching...";
        movies = await MovieService.SearchMovies(query);
        debugMessage = $"Znaleziono: {movies?.Count}";
    }

    @inject AuthenticationStateProvider AuthStateProvider

    @inject UserManager<ApplicationUser> UserManager

    async Task SaveMovie(Movie movie)
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);

        if (user == null)
            return;

        if (!Db.Movies.Any(m => m.ImdbId == movie.ImdbId && m.UserId == user.Id))
        {
            movie.UserId = user.Id;

            Db.Movies.Add(movie);
            await Db.SaveChangesAsync();
        }
    }
}
